flows (2).json
[
    {
        "id": "3a55666049436040",
        "type": "tab",
        "label": "DHT11",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3fe16e84e0987c80",
        "type": "ui_gauge",
        "z": "3a55666049436040",
        "name": "",
        "group": "8adbf95d89514305",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "°C",
        "format": "Temperature",
        "min": 0,
        "max": "50",
        "colors": [
            "#005cb3",
            "#00e60f",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 810,
        "y": 280,
        "wires": []
    },
    {
        "id": "175b6b1416fbada3",
        "type": "function",
        "z": "3a55666049436040",
        "name": "function 1",
        "func": "var input = msg.payload;\nmsg.payload = input.temp;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 320,
        "wires": [
            [
                "3fe16e84e0987c80",
                "761774fd91e8b82e"
            ]
        ]
    },
    {
        "id": "761774fd91e8b82e",
        "type": "ui_chart",
        "z": "3a55666049436040",
        "name": "",
        "group": "8adbf95d89514305",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#b31e1e",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 790,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "fa7ddd4b1f2030d6",
        "type": "ui_gauge",
        "z": "3a55666049436040",
        "name": "",
        "group": "a43208c0f5f0eae2",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "%",
        "format": "Humidity",
        "min": 0,
        "max": "100",
        "colors": [
            "#009dff",
            "#0082e6",
            "#0014a8"
        ],
        "seg1": "50",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 490,
        "y": 460,
        "wires": []
    },
    {
        "id": "3930e316e4c5c3e4",
        "type": "function",
        "z": "3a55666049436040",
        "name": "function 2",
        "func": "var input = msg.payload;\nmsg.payload = input.hum;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 520,
        "wires": [
            [
                "fa7ddd4b1f2030d6",
                "a91e7a1f23739d61",
                "57c50c4494bd33d4"
            ]
        ]
    },
    {
        "id": "a91e7a1f23739d61",
        "type": "ui_chart",
        "z": "3a55666049436040",
        "name": "",
        "group": "a43208c0f5f0eae2",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1e30b3",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 500,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "628cca726e02ab04",
        "type": "mqtt in",
        "z": "3a55666049436040",
        "name": "",
        "topic": "teamproject/HiJame",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6c8a5f14a21677fa",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 260,
        "wires": [
            [
                "175b6b1416fbada3",
                "3930e316e4c5c3e4",
                "b7fff02512d72a33",
                "f1bdff8143fb8110",
                "411acacf5db0dbe6"
            ]
        ]
    },
    {
        "id": "b7fff02512d72a33",
        "type": "debug",
        "z": "3a55666049436040",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 180,
        "wires": []
    },
    {
        "id": "f1bdff8143fb8110",
        "type": "function",
        "z": "3a55666049436040",
        "name": "function 3",
        "func": "var input = msg.payload;\nmsg.payload = input.hic;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 640,
        "wires": [
            [
                "9a317c3889e37a81",
                "787f4e2b4a5cd72c",
                "a325261db6316ff0"
            ]
        ]
    },
    {
        "id": "9a317c3889e37a81",
        "type": "ui_gauge",
        "z": "3a55666049436040",
        "name": "",
        "group": "084580eabb98a65b",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "%",
        "format": "Heat index",
        "min": 0,
        "max": "100",
        "colors": [
            "#009dff",
            "#0082e6",
            "#0014a8"
        ],
        "seg1": "50",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 470,
        "y": 660,
        "wires": []
    },
    {
        "id": "787f4e2b4a5cd72c",
        "type": "ui_chart",
        "z": "3a55666049436040",
        "name": "",
        "group": "084580eabb98a65b",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Heat index",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1e30b3",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 490,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "57c50c4494bd33d4",
        "type": "debug",
        "z": "3a55666049436040",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 600,
        "wires": []
    },
    {
        "id": "a325261db6316ff0",
        "type": "debug",
        "z": "3a55666049436040",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 800,
        "wires": []
    },
    {
        "id": "411acacf5db0dbe6",
        "type": "ui_template",
        "z": "3a55666049436040",
        "group": "af0a959e292772bf",
        "name": "",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<div>\n    <img src =\"https://steamuserimages-a.akamaihd.net/ugc/871871121569493126/B116D7E5B60C254652FE2A5106F5FC451618D89C/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false\"/>\n     </div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 460,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "8adbf95d89514305",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "ee25ee8ca284bf88",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a43208c0f5f0eae2",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "ee25ee8ca284bf88",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6c8a5f14a21677fa",
        "type": "mqtt-broker",
        "name": "dth11",
        "broker": "iiot.dynu.com",
        "port": "6688",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "084580eabb98a65b",
        "type": "ui_group",
        "name": "Heat index",
        "tab": "ee25ee8ca284bf88",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "af0a959e292772bf",
        "type": "ui_group",
        "name": "JaiGerei",
        "tab": "e10467ee224e01f2",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ee25ee8ca284bf88",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e10467ee224e01f2",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]